<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="selectMainFacility">
		SELECT
		f.facility_id,
		f.facility_name,
		f.description,
		fi.image_path
		FROM hotel_facility f
		JOIN facility_image fi
		ON
		f.facility_id = fi.facility_id
		WHERE fi.is_main='Y'
		ORDER BY
		f.facility_id
	</entry>


	<entry key="selectFacility">
		SELECT *
		FROM hotel_facility
		WHERE facility_id=?
	</entry>

	<entry key="selectFacilityImages">
		SELECT *
		FROM facility_image
		WHERE facility_id=?
		ORDER BY
		display_order
	</entry>


	<entry key="selectFacilityList">
		SELECT
		f.facility_id,
		f.facility_name,
		f.description,
		f.location,
		f.open_time,
		fi.image_path
		FROM hotel_facility f
		LEFT JOIN
		facility_image fi
		ON f.facility_id = fi.facility_id
		AND fi.is_main = 'Y'
		ORDER BY f.facility_id
	</entry>






	<entry key="selectMainRoom">
		SELECT
		rm.room_id,
		rm.room_name,
		rm.capacity,
		rm.room_location,
		rm.room_description,
		rm.usage_time,
		rm.amenity,
		rm.minibar,
		ri.image_path
		FROM room_manage rm
		JOIN room_image ri
		ON
		rm.room_id = ri.room_id
		WHERE ri.is_main='Y'
		ORDER BY
		rm.room_id
	</entry>
	<entry key="selectRoomList">
		SELECT
		rm.room_id,
		rm.room_name,
		rm.capacity,
		rm.room_location,
		rm.room_description,
		rm.usage_time,
		rm.amenity,
		rm.minibar,
		ri.image_path
		FROM room_manage rm
		LEFT JOIN room_image ri
		ON
		rm.room_id = ri.room_id
		AND ri.is_main = 'Y'
		ORDER BY rm.room_id
	</entry>
	<entry key="selectRoom">
		SELECT *
		FROM room_manage
		WHERE room_id=?
	</entry>
	<entry key="selectRoomImages">
		SELECT *
		FROM room_image
		WHERE room_id=?
		ORDER BY
		display_order
	</entry>


	<entry key="getAllRooms">
		SELECT
		r.room_id,
		r.room_name,
		r.base_capacity,
		r.max_capacity,
		r.base_price,
		r.extra_charge,
		ri.image_path
		FROM room r
		LEFT JOIN room_image ri
		ON r.room_id = ri.room_id AND ri.is_main = 'Y'
		ORDER BY r.room_id
	</entry>


</properties>