<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="findId"> SELECT user_id FROM users WHERE name = ? AND email =
		?
	</entry>

	<entry key="selectUser"> SELECT * FROM users WHERE user_id = ? </entry>

	<entry key="updateContact"> UPDATE users SET email=?, phone=? WHERE user_id=? </entry>

	<entry key="checkUserForPw"> SELECT COUNT(*) AS cnt FROM users WHERE user_id = ?
		AND name = ? AND email = ?
	</entry>

	<entry key="updatePassword"> UPDATE users SET password = ? WHERE user_id = ? </entry>

	<entry key="checkPassword"> SELECT COUNT(*) AS cnt FROM users WHERE user_id = ?
		AND password = ?
	</entry>

	<entry key="insertUser">        
        <![CDATA[
        INSERT INTO users (user_id, password, email, name, phone)
        VALUES (?, ?, ?, ?, ?)
        ]]>
	</entry>

	<entry key="checkEmailDuplicate">
<![CDATA[
SELECT COUNT(*)
FROM users
WHERE email = ?
AND user_id != ?
]]>
	</entry>

</properties>