<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<!-- 예약 생성 -->
	<entry key="insertReservation"> INSERT INTO reservation (user_id, room_id, room_name,
		name, check_in, check_out, adult_count, child_count, total_price,
		status) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, '예약완료') </entry>
	<!-- 객실 예약 가능 여부 -->
	<entry key="isRoomAvailable">
<![CDATA[ SELECT COUNT(*) FROM reservation WHERE room_id = ? AND status = '예약완료' AND (check_in < ? AND check_out > ?) ]]>
	</entry>
	<!-- 예약된 날짜 조회 -->
	<entry key="getReservedDates"> SELECT room_id, check_in, check_out FROM reservation
		WHERE status = '예약완료' AND check_out >= CURDATE() </entry>
	<!-- 예약 조회 -->
	<entry key="getReservation"> SELECT * FROM reservation WHERE reservation_id = ? </entry>
	<!-- 예약 조회 시 아이디 조회 -->
	<entry key="getReservationByUserId"> SELECT * FROM reservation WHERE user_id = ? </entry>
	<!-- 유저 다중 예약 조회 및 예약 취소 건 미표기 -->
	<entry key="getReservationsByUserId"> SELECT * FROM reservation WHERE user_id = ? AND
		status != '예약 취소' ORDER BY reservation_id DESC </entry>
	<!-- 예약 취소 요청 -->
	<entry key="cancelReservation"> UPDATE reservation SET status = '예약 취소 요청' WHERE
		reservation_id = ? </entry>
	<entry key="checkPassword"> SELECT COUNT(*) FROM users WHERE user_id=? AND
		password=? </entry>
	<entry key="updateContact"> UPDATE users SET email=?, phone=? WHERE user_id=? </entry>
	<entry key="updatePassword"> UPDATE users SET password=? WHERE user_id=? </entry>
</properties>