<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="insertReservation">
		INSERT INTO reservation (user_id, room_id, room_name,
		name, check_in, check_out, adult_count, child_count, total_price,
		status) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, '1')
	</entry>

	<entry key="isRoomAvailable">
      <![CDATA[ 
      SELECT COUNT(*) FROM reservation 
      WHERE room_id = ? 
      AND status IN ('1', '2') 
      AND (check_in < ? AND check_out > ?) 
      ]]>
	</entry>

	<entry key="getReservedDates">
		SELECT room_id, check_in, check_out FROM reservation
		WHERE status IN ('1', '2') AND check_out >= CURDATE()
	</entry>

	<entry key="cancelReservation">
		UPDATE reservation SET status = '3' WHERE reservation_id = ?
	</entry>

	<entry key="checkPassword"> SELECT COUNT(*) FROM users WHERE user_id=? AND
		password=? </entry>
	<entry key="updateContact"> UPDATE users SET email=?, phone=? WHERE user_id=? </entry>
	<entry key="updatePassword"> UPDATE users SET password=? WHERE user_id=? </entry>

	<entry key="getReservedDatesExcludingSelf">
		SELECT room_id, check_in, check_out FROM reservation
		WHERE status IN ('1', '2')
		AND check_out >= CURDATE()
		AND reservation_id != ?
	</entry>

	<entry key="isRoomAvailableForUpdate">
      <![CDATA[ 
      SELECT COUNT(*) FROM reservation 
      WHERE room_id = ? 
      AND reservation_id != ?
      AND status IN ('1', '2') 
      AND (check_in < ? AND check_out > ?)
      ]]>
	</entry>

	<entry key="updateReservation">
		UPDATE reservation
		SET room_id = ?, room_name = ?, check_in = ?, check_out = ?,
		adult_count = ?, child_count = ?, total_price = ?
		WHERE reservation_id = ?
	</entry>


	<entry key="getReservation"> SELECT * FROM reservation WHERE reservation_id = ? </entry>

	<entry key="getReservationsByUserId">
		SELECT * FROM reservation
		WHERE user_id = ?
		ORDER BY reservation_id DESC
	</entry>



	<entry key="updateReservation">
		UPDATE reservation
		SET room_id = ?, room_name = ?,
		check_in = ?, check_out = ?,
		adult_count = ?, child_count = ?,
		total_price = ?
		WHERE reservation_id = ?
	</entry>
</properties>