@charset "UTF-8";

/* 객실 정보 관리 */
.admin-room {
	max-width: 1400px;
	margin: 40px auto;
	padding: 0 20px;
}

.titleBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.admin-title {
	font-size: var(--titlefs);
	font-weight: 600;
	margin-bottom: 30px;
}

.room-filter {
	/*    margin-bottom: 20px; */
	display: flex;
	gap: 10px;
	justify-content: end;
}

.btn-filter {
	display: inline-block;
	padding: 8px 16px;
	background: #f5f5f5;
	border-radius: 6px;
	text-decoration: none;
	color: #333;
	font-size: var(--btnfs);
	transition: all 0.2s;
}

.btn-filter:hover {
	background: var(--bg2);
	color: #fff;
}

.admin-table {
	width: 100%;
	border-collapse: collapse;
	background: #fff;
	overflow: hidden;
}

.admin-table th {
	background: var(--ctbg1);
	padding: 12px;
	font-size: var(--thfs);
	font-weight: 600;
	border-bottom: 1px solid #ddd;
}

.admin-table td {
	padding: 12px;
	font-size: var(--tdfs);
	font-weight: 400;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.admin-table tbody tr:hover {
	background: #fafafa;
}

.room-actions {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.room-btn-edit {
	display: inline-block;
	background: var(--bg4);
	color: var(--color4);
	padding: 6px 14px;
	border-radius: 6px;
	font-size: var(--btnfs);
	text-decoration: none;
}

.room-btn-edit:hover {
	background: var(--color4);
	color: #fff;
}

.room-btn-delete {
	display: inline-block;
	background: var(--bg5);
	color: var(--color5);
	padding: 6px 14px;
	border-radius: 6px;
	font-size: var(--btnfs);
	text-decoration: none;
}

.room-btn-delete:hover {
	background: var(--color5);
	color: #fff;
}

/* =========================
   객실 추가 / 
========================= */
.admin-room-write, .admin-room-update {
	max-width: 1400px;
	margin: 40px auto;
	padding: 0 20px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* form */
.room-form {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-bottom: 18px;
}

.form-group label, .saveImage {
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 6px;
	width: 10%;
}

.form-group input, .form-group select {
	width: 100%;
	padding: 10px 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 14px;
	box-sizing: border-box;
}

/* textarea */
.form-group textarea {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 12px;
	font-size: 14px;
	resize: vertical;
	box-sizing: border-box;
}

/* focus */
.form-group input:focus, .form-group textarea:focus, .form-group select:focus
	{
	outline: none;
	border-color: #000;
}

/* 버튼 영역 */
.form-buttons {
	margin-top: 25px;
	display: flex;
	gap: 10px;
}

/* 저장 */
.btn-save {
	background: var(--bg2);
	color: #fff;
	border: none;
	padding: 10px 18px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	width: 250px;
}

.btn-save:hover {
	background: var(--bg3);
}

/* 목록 */
.btn-list {
	background: var(--listbg1);
	color: #fff;
	border: none;
	padding: 10px 18px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	width: 250px;
}

.btn-list:hover {
	background: #ccc;
}

#preview {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
}

#preview img {
	height: 110px;
	width: 100%;
	object-fit: cover;
}